{% extends "base.html" %}
{% block title %}About - Flask Recipe Book{% endblock %}

{% block page_content %}

<div class="container">
    <h1>About Flask Recipe Book</h1>
    <p>
        Flask Recipe Book is a web application for viewing and storing other user's recipes. It provides <b>basic</b> functions for viewing a recipe, viewing authors and their recipes, and logging in and registering for an account.
    </p>
    <p>
        This application is written in Python using the Flask framework. It was created for a Dynamic Web Languages course.
    </p>

    <h2>Credits and Resources</h2>
    <ul>
        <li>Github link: <a href="https://github.com/spncrhrstn/flask-recipe-book">Flask Recipe Book</a></li>
        <li>Flask Web Development, 2nd Edition by Miguel Grinberg</li>
        <li><a href="https://courses.miguelgrinberg.com/p/flask-mega-tutorial">The Flask Mega Tutorial</a> by Miguel Grinberg</li>
        <li>Favicon from <a href="https://favicon.io/">Favicon.io</a></li>
    </ul>
</div>

{% endblock %}